$color-dark: rgb(15, 23, 43);
$color-main: rgb(89, 22, 139);
$color-white: #fff;
$text-color: white;

$radius: 0.625rem;

$font-size: 16px;

$spacing: 0.25rem;

$medium-breakpoint: 48rem;

$color-green-300: rgb(123, 241, 167);
$color-green-400: rgb(6, 223, 114);
$color-green-600: rgb(0, 166, 62);
$color-green-700: rgb(0, 130, 53);
$color-purple-100: rgb(243, 232, 255);
$color-purple-200: rgb(233, 212, 255);
$color-purple-300: rgb(218, 178, 255);
$color-purple-400: rgb(194, 122, 255);
$color-purple-600: rgb(152, 16, 250);
$color-purple-900: rgb(89, 22, 139);
$color-slate-900: rgb(15, 23, 43);
$color-gray-100: rgb(243, 244, 246);
$color-black: #000;
$color-white: #fff;

$font-weight-semibold: 600;

$font-size-xs: 0.75rem;
$line-height-xs: calc(1 / 0.75);
$font-size-lg: 1.125rem;
$line-height-lg: calc(1.75 / 1.125);
$font-size-small: 0.875rem;
$line-height-small: calc(1.25 / 0.875);
$font-size-xl: 1.25rem;
$line-height-xl: calc(1.75 / 1.25);